body {
  background-color: #121212;
  color: #fff;
  font-family: "Audiowide", sans-serif;
}

img {
  border-radius: 2%;
}

i {
  margin-right: 8px;
}

nav {
  opacity: 80%;
}

.btns {
  margin: 10px 0 10px 0;
}
.apple {
  width: 25%;
  height: auto;
}

.android {
  width: 31%;
  height: auto;
}
