body {
  background-color: #121212;
  color: #fff;
  font-family: "Audiowide", sans-serif;
  padding-bottom: 700px;
}

img {
  border-radius: 2%;
  width: 93%;
}
.icons {
  width: 99%;
}
nav {
  opacity: 80%;
}

.fas {
  padding-bottom: 20px;
}

.hero-text {
  font-size: 2.3rem;
}
.hero-subtext {
  font-size: 1.4rem;
}

.btns {
  margin: 10px 0 10px 0;
}
.apple {
  width: 25%;
  height: auto;
}

.android {
  width: 31%;
  height: auto;
}

h2 {
  color: hsl(285, 99%, 67%);
}

.feature {
  border: solid 5px;
  border-color: hsl(285, 49%, 46%);
  border-radius: 20px;
  background: #212121;
}

/* testimonials */

.testimonials {
  margin-top: ;
}
.tests {
  font-size: 1.5rem;
  margin: 0 100px;
}
.tests-img {
  width: 10%;
  height: auto;
  border-radius: 100%;
}
.tests-name {
  padding-left: 50px;
  font-size: 1.2rem;
}

.tech {
  margin-top: 40px;
  border: solid 5px;
  border-color: hsl(285, 49%, 46%);
  border-radius: 20px;
  background: #212121;
  padding: 20px;
  padding-bottom: 30px;
}
.tech-text {
  margin-bottom: 30px;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 7px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(285, 49%, 46%);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(285, 99%, 67%);
}
